* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav ul {
    max-width: calc(1600px + 320px);
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 160px;
}